#gameBoard {
  height: 50%;
  min-height: 240px;
  width: 35%;
  min-width: 240px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  padding-bottom: 4vh;
}

.boardRow {
  height: 33%;
  width: 100%;
  display: flex;
}
